<a href="https://colab.research.google.com/github/codester2228/cfsol/blob/master/Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [378]:
import pandas as pd
import numpy as np

In [371]:
from dateutil.relativedelta import *
from dateutil.parser import *
import datetime  #import required datetime libraries

In [372]:
d1=parse("12 sept 19")   #testing parsing
d2=parse("september 2020 13")
print(d1)
print(d2)

2019-09-12 00:00:00
2020-09-13 00:00:00

In [373]:
print(relativedelta(d2,d1)) #testing difference of dates

relativedelta(years=+1, days=+1)

In [468]:
#importing dummy csv from pc 
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Q1 - Copy - Copy.csv to Q1 - Copy - Copy (7).csv
User uploaded file "Q1 - Copy - Copy.csv" with length 360 bytes

In [469]:
df=pd.read_csv("Q1 - Copy - Copy (7).csv")

In [470]:
df.head(10) #random dates in string format

         date1  age         date2        date3  name
0    12-Sep-19    20          NaN     31.03.20   dsv
1   28-08-2020    20    12-Sep-19  22 2020 feb  vdsv
2     31.03.20    20     28 12 09  2020 31 jan    v
3    24-Jan-20    20     12 12 31     31.03.20   dvd
4  2020 31 jan    20     31.03.20    12-Sep-19   sdv
5  22 2020 feb    20  2020 31 jan  22 2020 feb   xc
6     12 12 31    20  22 2020 feb    12-Sep-19   sdv
7    12-Sep-19    20   28-08-2020  2020 31 jan    ee
8     12 12 31    20     12 12 31          NaN    sc

In [471]:
df["date2"][0]
parse(df["date1"][0])

datetime.datetime(2019, 9, 12, 0, 0)

In [472]:
type(parse(df['date1'][0]))

datetime.datetime

In [473]:
df["date2"][0]==df["date2"][0] # to check if not NaN

False

In [474]:
#Required Function datetime
dates=[]
def datetime(df):
  for column in df:   #iterating each column
    i=0
    while(df[column][i]!=df[column][i]):    #checking first value is NaN or not
      i+=1                                  #if yes,then move to next value
    if(isinstance(df[column][i],str)):      #if data is a string,it may be a datetime format
      try:                                  #using try to check if string can be parsed or not,if it can be parsed to date,parse and store
            if(parse(df[column][i])):
              dates.append(column)                             #creating list of date columns
              for i in range(df[column].shape[0]):  
                        if(df[column][i]==df[column][i]):                #parse only in not a NaN value
                                df[column][i]=parse(df[column][i])
      except:                                                            #if data throws an error while parsing,it may be a string like name etc, so pass
        pass

In [475]:

datetime(df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [476]:
df.head(10)

                 date1  age                 date2                date3  name
0  2019-09-12 00:00:00    20                  NaN  2020-03-31 00:00:00   dsv
1  2020-08-28 00:00:00    20  2019-09-12 00:00:00  2020-02-22 00:00:00  vdsv
2  2020-03-31 00:00:00    20  2009-12-28 00:00:00  2020-01-31 00:00:00    v
3  2020-01-24 00:00:00    20  2031-12-12 00:00:00  2020-03-31 00:00:00   dvd
4  2020-01-31 00:00:00    20  2020-03-31 00:00:00  2019-09-12 00:00:00   sdv
5  2020-02-22 00:00:00    20  2020-01-31 00:00:00  2020-02-22 00:00:00   xc
6  2031-12-12 00:00:00    20  2020-02-22 00:00:00  2019-09-12 00:00:00   sdv
7  2019-09-12 00:00:00    20  2020-08-28 00:00:00  2020-01-31 00:00:00    ee
8  2031-12-12 00:00:00    20  2031-12-12 00:00:00                  NaN    sc

In [463]:
"So, all the random inputs of date have been parsed to proper date time format."

'So, all the random inputs of date have been parsed to proper date time format.'

In [464]:
#since we have no info about the missing dates in this dummy dataset, we should drop these columns.But , in a dataset with more info we can find out a certain date which can be relevant to  other informations.

In [477]:
df=df.dropna(axis=0) #deleted row where date was missing

In [478]:
df.head(10)

                 date1  age                 date2                date3  name
1  2020-08-28 00:00:00    20  2019-09-12 00:00:00  2020-02-22 00:00:00  vdsv
2  2020-03-31 00:00:00    20  2009-12-28 00:00:00  2020-01-31 00:00:00    v
3  2020-01-24 00:00:00    20  2031-12-12 00:00:00  2020-03-31 00:00:00   dvd
4  2020-01-31 00:00:00    20  2020-03-31 00:00:00  2019-09-12 00:00:00   sdv
5  2020-02-22 00:00:00    20  2020-01-31 00:00:00  2020-02-22 00:00:00   xc
6  2031-12-12 00:00:00    20  2020-02-22 00:00:00  2019-09-12 00:00:00   sdv
7  2019-09-12 00:00:00    20  2020-08-28 00:00:00  2020-01-31 00:00:00    ee

In [448]:
print(dates)  #list containing name of date columns
len(dates)

['date1', 'date2', 'date3']

3

In [450]:
type(df["date1"][1])

datetime.datetime

In [482]:
df.head()

                 date1  age   ...  name Discounted_Price
1  2020-08-28 00:00:00    20  ...  vdsv         351 days
2  2020-03-31 00:00:00    20  ...    v         3746 days
3  2020-01-24 00:00:00    20  ...   dvd        4340 days
4  2020-01-31 00:00:00    20  ...   sdv          60 days
5  2020-02-22 00:00:00    20  ...   xc           22 days

[5 rows x 6 columns]

In [486]:
df.reset_index(drop=True,inplace=True)  #resetting index to 0

                 date1  age   ...  name Discounted_Price
0  2020-08-28 00:00:00    20  ...  vdsv         351 days
1  2020-03-31 00:00:00    20  ...    v         3746 days
2  2020-01-24 00:00:00    20  ...   dvd        4340 days
3  2020-01-31 00:00:00    20  ...   sdv          60 days
4  2020-02-22 00:00:00    20  ...   xc           22 days
5  2031-12-12 00:00:00    20  ...   sdv        4311 days
6  2019-09-12 00:00:00    20  ...    ee         351 days

[7 rows x 6 columns]

In [508]:
for i in range(len(dates)):         #creating new columns and subtracting each date columns with others one by one
  for j in range(i+1,len(dates)):
    name="diff"+str(i+1)+"-"+str(j+1)              #naming columns
    df[name]=abs(df[str(dates[i])]-df[str(dates[j])])

In [513]:
df.head(10)

                 date1  age                 date2  ...   diff1-2   diff1-3   diff2-3
0  2020-08-28 00:00:00    20  2019-09-12 00:00:00  ...  351 days  188 days  163 days
1  2020-03-31 00:00:00    20  2009-12-28 00:00:00  ... 3746 days   60 days 3686 days
2  2020-01-24 00:00:00    20  2031-12-12 00:00:00  ... 4340 days   67 days 4273 days
3  2020-01-31 00:00:00    20  2020-03-31 00:00:00  ...   60 days  141 days  201 days
4  2020-02-22 00:00:00    20  2020-01-31 00:00:00  ...   22 days    0 days   22 days
5  2031-12-12 00:00:00    20  2020-02-22 00:00:00  ... 4311 days 4474 days  163 days
6  2019-09-12 00:00:00    20  2020-08-28 00:00:00  ...  351 days  141 days  210 days

[7 rows x 8 columns]

In [ ]:
So, we completed the objective of The given question!